li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #1d1d1d;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.haeder__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.header__center {
  display: flex;
  justify-content: center;
  gap: 64px;
  align-items: center;
}

.header__items {
  color: #fff;
}

.header__items:hover {
  color: red;
  transition: 1s;
}

.header__right {
  display: flex;
  justify-content: center;
  gap: 0;
  align-items: center;
}

.header__right__img {
  margin-right: 12px;
}

.header__btn {
  padding: 14px 48px;
  background-color: #C75E90;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  color: #fff;
}

.section-2__wrp {
  border-radius: 0 0 80px 80px;
  justify-content: space-between;
  display: flex;
  padding-left: 66px;
  padding-top: 130px;
  background-color: #161616;
  width: 1440px;
  height: 700px;
}

.sec-2__header-p {
  margin-bottom: -40px;
  font-size: 14px;
  color: #696969;
}

.sec-2__h2 {
  margin-top: 10px;
  color: white;
  font-size: 46px;
  font-weight: 700;
}

.sec-2__comment-p {
  margin-top: -20px;
  font-size: 14px;
  color: white;
  font-weight: 400px;
}

.sec-2_btn {
  margin-bottom: 70px;
  margin-top: 54px;
  border: 1px solid #C75E90;
  width: 203px;
  height: 45px;
  background-color: #C75E90;
  border-radius: 220px;
  color: white;
  font-size: 12px;
}

.sec-2__cat_category__wrp {
  background-image: url(../../images/section-2_images/s2-category-bc-img.png);
  width: 337px;
  height: 122px;
  border-radius: 10px;
  position: relative;
}

.sec-2__category__p-1 {
  margin-left: 20px;
  padding-top: 57px;
  color: white;
  font-size: 12px;
  font-weight: 700;
}

.sec-2__category__p-2 {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  margin-top: -8px;
}

.icon-sec2 {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  font-size: 52px;
  top: 38px;
  left: 310px;
  position: absolute;
  background-color: #C75E90;
}

.sec-2__icon-border-img {
  position: absolute;
  top: 49px;
  left: 323px;
  width: 16px;
  height: 16px;
  font-size: 30px;
  color: white;
}

.sec-2__img_wrp {
  background-image: url(../../images/section-2_images/s2-bc-img.png);
  width: 565px;
  height: 557px;
  border-radius: 80px;
  position: relative;
  margin-right: 66px;
  margin-top: -40px;
}

.sec-2__small_img-1 {
  top: 103px;
  left: -90px;
  position: absolute;
  border: 5px solid #C75E90;
  width: 131px;
  height: 131px;
  border-radius: 50%;
}

.sec-2__small_img-2 {
  top: 307px;
  left: -90px;
  position: absolute;
  border: 5px solid #C75E90;
  width: 131px;
  height: 131px;
  border-radius: 50%;
}

.sec-2__small_img-3 {
  top: 468px;
  left: 28px;
  height: 0;
  position: absolute;
  border: 5px solid #C75E90;
  width: 131px;
  height: 131px;
  border-radius: 50%;
}

.sec-2__small_img-4 {
  top: 487px;
  left: 253px;
  position: absolute;
  border: 5px solid #C75E90;
  width: 131px;
  height: 131px;
  border-radius: 50%;
}

.sec-2__info_block {
  margin-left: 63px;
  margin-top: -84px;
  position: absolute;
  width: 1313px;
  height: 168px;
  background-color: #C75E90;
  display: flex;
  border-radius: 40px;
}

.info_block__adress {
  display: flex;
}

.sec-2__location_img {
  width: auto;
  margin-top: 12px;
  margin-left: 13px;
}

.sec-2__location {
  margin-top: 54px;
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.sec-2__info_block_items {
  margin-left: 200px;
  display: flex;
  width: 822px;
  height: 168px;
  background-color: #8E345F;
  border-radius: 80px 40px 40px 80px;
}

.info_block__tell {
  display: flex;
}

.sec-2__tell_img {
  margin-left: 18px;
  margin-top: 15px;
  display: flex;
}

.sec-2__tell {
  color: white;
  font-size: 20px;
  margin-top: 67px;
  font-weight: 700;
  margin-left: 20px;
}

.sec-2__info_mail {
  display: flex;
}

.sec-2__mail_img {
  margin-left: 19px;
  margin-top: 24px;
  width: 40.5px;
  height: 31.5px;
}

.sec-2__mail {
  color: white;
  font-size: 20px;
  margin-top: 67px;
  font-weight: 700;
  margin-left: 20px;
}

.tell_img_div {
  margin-left: 38px;
  margin-bottom: 47px;
  margin-top: 43px;
  width: 78px;
  height: 78px;
  background-color: #C75E90;
  border-radius: 50%;
}

.mail_img_div {
  margin-left: 70px;
  margin-top: 43px;
  width: 78px;
  height: 78px;
  background-color: #C75E90;
  border-radius: 50%;
}

.location_img_div {
  margin-top: 43px;
  margin-left: 23px;
  margin-right: 20px;
  width: 78px;
  height: 78px;
  background-color: #8E345F;
  border-radius: 50%;
}

.info__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 97px;
}

.info__img {
  width: 576px;
  height: 571px;
  border-radius: 40px;
}

.info__top__text {
  color: #696969;
  font-size: 12px;
  font-weight: 700;
  width: 456px;
  height: 18px;
  line-height: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 4px;
}

.info__text {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

.info__icon {
  margin-left: -210px;
  color: #C75E90;
}

.info__title {
  color: #fff;
  font-size: 25px;
  line-height: 30px;
}

.info__hidden-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.info__wrap__icon {
  display: flex;
  justify-content: center;
  gap: 36px;
  align-items: center;
  font-size: 35px;
}

.sec-5_wrapper {
  margin-left: 80px;
  width: 1313px;
  height: 476px;
  background-color: #161616;
  border-radius: 40px;
  display: flex;
}

.sec-5__items-1 {
  padding-left: 37PX;
  width: 312px;
  height: 476px;
  border-radius: 40px;
  background-color: #C75E90;
}

.s5__item-1__btn {
  margin-top: 20px;
  width: 236px;
  height: 45px;
  background-color: #8E345F;
  border: 1px solid #8E345F;
  border-radius: 220px;
  font-size: 12px;
  font-weight: 700;
  color: white;
  margin-left: -15px;
}

.s5__item-1__p1 {
  margin-bottom: -16px;
  line-height: 18px;
  font-size: 17px;
  font-weight: 700;
  color: #181818;
  padding-top: 48px;
}

.s5__item-1__p2 {
  font-size: 36px;
  color: white;
  font-weight: 700;
}

.s5__item-1__p3 {
  font-size: 20px;
  margin-top: -16px;
  color: white;
}

.sec-5__items-2 {
  padding-right: 50px;
  border-right: 1px solid rgba(128, 128, 128, 0.1294117647);
  color: white;
  margin-left: 50px;
}

.s5__item-2__img {
  border-radius: 20px;
  margin-top: 52px;
}

.s5__item-2__h1 {
  font-weight: 700;
}

.s5__item-2__p {
  font-weight: 400;
}

.sec-5__items-3 {
  padding-right: 50px;
  border-right: 1px solid rgba(128, 128, 128, 0.1294117647);
  color: white;
  margin-left: 50px;
}

.s5__item-3__img {
  border-radius: 20px;
  margin-top: 52px;
}

.s5__item-3__h1 {
  font-weight: 700;
}

.s5__item-3__p {
  font-weight: 400;
}

.sec-5__items-4 {
  padding-right: 50px;
  border-right: 1px solid rgba(128, 128, 128, 0.1294117647);
  color: white;
  margin-left: 50px;
}

.s5__item-4__img {
  border-radius: 20px;
  margin-top: 52px;
}

.s5__item-4__h1 {
  font-weight: 700;
}

.s5__item-4__p {
  font-weight: 400;
}

.sec2__cat__item_wrapper {
  margin-left: 80px;
  margin-top: 65px;
  width: 1312px;
  height: 268px;
  display: flex;
}

.sec2__cat__item_img1 {
  width: 202px;
  height: 233px;
  margin-right: 20px;
  border-radius: 40px;
}

.sec2__cat__item_img2 {
  width: 202px;
  height: 233px;
  margin-right: 20px;
  border-radius: 40px;
}

.sec2__cat__item_img3 {
  width: 202px;
  height: 233px;
  margin-right: 20px;
  border-radius: 40px;
}

.sec2__cat__item_img4 {
  width: 202px;
  height: 233px;
  margin-right: 20px;
  border-radius: 40px;
}

.sec2__cat__item_img5 {
  width: 202px;
  height: 233px;
  margin-right: 20px;
  border-radius: 40px;
}

.sec2__cat__item_img6 {
  width: 202px;
  height: 233px;
  border-radius: 40px;
}

.sec2__cat__item_icon-1 {
  background-color: #C75E90;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  bottom: 13px;
  left: 115px;
  position: absolute;
}

.sec2__cat__item_icon-2 {
  background-color: #C75E90;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  bottom: 13px;
  left: 115px;
}

.sec2__cat__item_icon-3 {
  background-color: #C75E90;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 115px;
  position: absolute;
  bottom: 13px;
}

.sec2__cat__item_icon-4 {
  background-color: #C75E90;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 115px;
  bottom: 13px;
}

.sec2__cat__item_icon-5 {
  background-color: #C75E90;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  left: 115px;
  bottom: 13px;
}

.sec2__cat__item_icon-6 {
  background-color: #C75E90;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  left: 115px;
  bottom: 13px;
  position: absolute;
}

.sec2__cat_icon {
  margin-top: 5px;
  margin-left: 9px;
}

.sec5__item_wrp-1 {
  position: relative;
}

.sec5__item_wrp-2 {
  position: relative;
}

.sec5__item_wrp-3 {
  position: relative;
}

.sec5__item_wrp-4 {
  position: relative;
}

.sec5__item_wrp-5 {
  position: relative;
}

.sec5__item_wrp-6 {
  position: relative;
}

.idea__wrapper {
  padding: 83px 63px;
}

.idea__nonvisible {
  color: #696969;
  font-size: 12px;
  letter-spacing: 3px;
  margin: auto;
  width: 439px;
}

.idea__title {
  color: #fff;
  font-size: 40px;
  line-height: 60px;
  margin: auto;
  width: 492px;
  padding-top: 25px;
}

.idea__last {
  font-size: 12px;
  line-height: 21px;
  color: #fff;
  width: 868px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.idea__wrap-sect {
  background-color: #161616;
  width: 300px;
  padding: 37px 42px;
  border-radius: 40px;
  margin-top: 75px;
}

.idea__dirst {
  position: relative;
}

.idea__img-top {
  width: 88px;
  margin-bottom: 18px;
}

.idea__sect__text {
  width: 260px;
  font-size: 14px;
  color: white;
  margin-bottom: 30px;
}

.idea__wrap__pic {
  display: flex;
  justify-content: 0;
  gap: 22px;
  color: #fff;
}

.idea__sect__pic {
  border: 5px solid #C75E90;
  border-radius: 50%;
}

.name {
  padding-top: 10px;
}

.idea__main__wrap {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.idea__icon__right {
  color: #C75E90;
  font-size: 35px;
  position: absolute;
  right: -57px;
  top: 160px;
}

.idea__icon {
  color: #C75E90;
  font-size: 35px;
  position: absolute;
  left: -60px;
  top: 160px;
}

.registration__wrapper {
  width: 1312px;
  height: 1208px;
  border-radius: 40px;
  background-color: #161616;
}

.registration__text {
  width: 868px;
  height: 160px;
}

.regis__text-1 {
  margin-left: 504px;
  padding-top: 97px;
  font-size: 24px;
  margin-bottom: -23px;
  text-align: center;
  color: #696969;
  font-size: 12px;
}

.regis__text-2 {
  margin-left: 502px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.regis__text-3 {
  margin-right: -500px;
  margin-top: -18px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.mini_registration {
  display: flex;
  width: 1000px;
}

.mini_registration-2 {
  display: flex;
  width: 1000px;
}

.regis__full_name__wrapper {
  margin-top: 250px;
  position: relative;
}

.full_name {
  font-size: 16px;
  padding-left: 60px;
  width: 500px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
  margin-left: 60px;
}

.regis__full_name__p {
  color: #696969;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  margin-left: 120px;
  margin-bottom: 50px;
}

.regis__email__wrapper {
  margin-bottom: 20px;
  margin-top: 200px;
  position: relative;
}

.email {
  margin-top: 47px;
  font-size: 16px;
  padding-left: 60px;
  width: 500px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
  margin-left: 60px;
}

.regis__email__p {
  color: #696969;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  margin-left: 120px;
  padding-bottom: 10px;
}

.regis__phone_number__wrapper {
  position: relative;
}

.phone_number {
  margin-top: 47px;
  font-size: 16px;
  padding-left: 60px;
  width: 500px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
  margin-left: 60px;
}

.regis__phone_number__p {
  color: #696969;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  margin-left: 120px;
  padding-bottom: 10px;
}

.regis__cat_name__wrapper {
  position: relative;
}

.cat_name {
  margin-top: 47px;
  font-size: 16px;
  padding-left: 60px;
  width: 500px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
  margin-left: 60px;
}

.regis__cat_name__p {
  color: #696969;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  margin-left: 120px;
  padding-bottom: 10px;
}

.regis__data__wrapper {
  position: relative;
}

.data {
  margin-top: 47px;
  font-size: 16px;
  padding-left: 60px;
  width: 1125px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
  margin-left: 60px;
}

.regis__data__p {
  color: #696969;
  font-size: 10px;
  font-weight: 700;
  position: absolute;
  bottom: 40px;
  margin-left: 120px;
  padding-bottom: 10px;
}

.regis__cat__wrapper {
  position: relative;
}

.cat {
  margin-top: 47px;
  font-size: 16px;
  padding-left: 60px;
  width: 1125px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
  margin-left: 60px;
}

.regis__cat_many__p {
  color: #696969;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: 30px;
  margin-left: 120px;
  padding-bottom: 10px;
}

.regis__purr__wrapper {
  position: relative;
}

.purr {
  position: relative;
  margin-top: 47px;
  margin-left: 60px;
  font-size: 16px;
  padding-left: 60px;
  width: 1125px;
  height: 77px;
  border: 1px solid #FFFFFF;
  border-radius: 40px;
  background-color: #161616;
  color: white;
}

.shape__wrapper {
  position: absolute;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #C75E90;
  left: 1162px;
  top: 60px;
}

.shape {
  margin-left: 15px;
  margin-top: 10px;
}

.regis__full_name__p {
  color: #696969;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  margin-left: 120px;
  padding-bottom: 10px;
}

.regis__btn {
  width: 236px;
  height: 56px;
  background-color: #C75E90;
  border-radius: 220px;
  margin-top: 57px;
  margin-left: 538px;
  color: white;
}

.newsletter {
  background-color: #2c2c2c;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  border-radius: 30px;
}

.newsletter .icon-circle {
  width: 80px;
  height: 80px;
  background-color: #e57399;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 1rem auto;
}

.newsletter .icon-circle img {
  width: 40px;
  z-index: 2;
}

.newsletter h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.ph2 {
  display: inline-block;
  margin-right: 200px;
}

.newsletter p {
  font-size: 0.9rem;
  color: #aaaaaa;
}

.newsletter-form {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #161616;
}

.newsletter-form input {
  padding: 0.8rem 1.2rem;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
  width: 400px;
  font-size: 1rem;
  background-color: #161616;
}

.newsletter-form button {
  padding: 0.8rem;
  border: none;
  background-color: #e57399;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.newsletter-form button img {
  width: 20px;
}

.newsletter-form button:hover {
  background-color: #d45b8a;
}

footer {
  background-color: #2c2c2c;
  padding: 2rem;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.footer-item img {
  border: 1px solid #C75E90;
  border-radius: 50%;
  background-color: #C75E90;
}

.footer-item h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #e57399;
  margin-bottom: 1rem;
}

.footer-item p, .footer-item ul {
  font-size: 0.9rem;
  color: #cccccc;
}

.footer-item ul {
  list-style: none;
  padding: 0;
}

.footer-item ul li {
  margin: 0.5rem 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-icons a img {
  width: 30px;
  transition: transform 0.3s;
}

.social-icons a img:hover {
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #aaaaaa;
}/*# sourceMappingURL=style.css.map */