.sec-5_wrapper {
    margin-left: 80px;
    width: 1313px;
    height: 476px;
    background-color: $section-bc-color;
    border-radius: 40px;
    display: flex;
}

.sec-5__items-1 {
    padding-left: 37PX;
    width: 312px;
    height: 476px;
    border-radius: 40px;
    background-color: $primary-pink;
}
.s5__item-1__btn{
    margin-top: 20px;
    width: 236px;
    height: 45px;
    background-color: $second-pink;
    border: 1px solid $second-pink;
    border-radius: 220px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    margin-left: -15px;
}
.s5__item-1__p1 {
    margin-bottom: -16px;
    line-height: 18px;
    font-size: 17px;
    font-weight: 700;
    color:#181818 ;
    padding-top: 48px;
}
.s5__item-1__p2 {
    font-size: 36px;
    color: white;
    font-weight: 700;
    
}
.s5__item-1__p3 {
    font-size: 20px;
    margin-top: -16px;
    color: white;
}
.sec-5__items-2 {
    padding-right: 50px;
    border-right: 1px solid  #80808021 ;
    color: white;
    margin-left: 50px;
}
.s5__item-2__img {
    border-radius:20px ;
    margin-top: 52px;
}
.s5__item-2__h1 {
    font-weight: 700;
}
.s5__item-2__p {
    font-weight: 400;
}
.sec-5__items-3 {
    padding-right: 50px;
    border-right: 1px solid  #80808021 ;
    color: white;
    margin-left: 50px;
}
.s5__item-3__img {
    border-radius:20px ;
    margin-top: 52px;
}
.s5__item-3__h1 {
    font-weight: 700;
}
.s5__item-3__p {
    font-weight: 400;
}
.sec-5__items-4 {
    padding-right: 50px;
    border-right: 1px solid  #80808021 ;
    color: white;
    margin-left: 50px;
}
.s5__item-4__img {
    border-radius:20px ;
    margin-top: 52px;
}
.s5__item-4__h1 {
    font-weight: 700;
}
.s5__item-4__p {
    font-weight: 400;
}










.sec2__cat__item_wrapper {
    margin-left: 80px;
    margin-top: 65px;
    width: 1312px;
    height: 268px;
    display: flex;
}
.sec2__cat__item_img1 {
    width: 202px;
    height: 233px;
    margin-right: 20px;
    border-radius: 40px;
}
.sec2__cat__item_img2 {
    width: 202px;
    height: 233px;
    margin-right: 20px;
    border-radius: 40px;
}
.sec2__cat__item_img3 {
    width: 202px;
    height: 233px;
    margin-right: 20px;
    border-radius: 40px;
}
.sec2__cat__item_img4 {
    width: 202px;
    height: 233px;
    margin-right: 20px;
    border-radius: 40px;
}
.sec2__cat__item_img5 {
    width: 202px;
    height: 233px;
    margin-right: 20px;
    border-radius: 40px;
}
.sec2__cat__item_img6 {
    width: 202px;
    height: 233px;
    border-radius: 40px;
}
.sec2__cat__item_icon-1 {
    background-color: $primary-pink;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    bottom: 13px;
    left: 115px;
    position: absolute;
}
.sec2__cat__item_icon-2 {
    background-color: $primary-pink;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    bottom: 13px;
    left: 115px;
}
.sec2__cat__item_icon-3 {
    background-color: $primary-pink;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 115px;
    position: absolute;
    bottom: 13px;
}
.sec2__cat__item_icon-4 {
    background-color: $primary-pink;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 115px;
    bottom: 13px;
}
.sec2__cat__item_icon-5 {
    background-color: $primary-pink;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    left: 115px;
    bottom: 13px;
}
.sec2__cat__item_icon-6 {
    background-color: $primary-pink;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    left: 115px;
    bottom: 13px;
    position: absolute;
}
.sec2__cat_icon{
    margin-top: 5px;
    margin-left: 9px;
}
.sec5__item_wrp-1{
    position: relative;
}
.sec5__item_wrp-2{
    position: relative;
}
.sec5__item_wrp-3{
    position: relative;
}
.sec5__item_wrp-4{
    position: relative;
}
.sec5__item_wrp-5{
    position: relative;
}
.sec5__item_wrp-6{
    position: relative;
}