.registration__wrapper {

    width: 1312px;
    height: 1208px;
    border-radius: 40px;
    background-color: $section-bc-color;
}
.registration__text {
    width: 868px;
    height: 160px;
}
.regis__text-1 {
    margin-left: 504px;
    padding-top: 97px;
    font-size: 24px;
    margin-bottom: -23px;
    text-align: center;
    color: #696969;
    font-size: 12px;
}
.regis__text-2 {
    margin-left: 502px;
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.regis__text-3 {
    margin-right: -500px;
    margin-top: -18px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: white;
}






.mini_registration{
    display: flex;
    width: 1000px;
}
.mini_registration-2{
    display: flex;
    width: 1000px;
}
.regis__full_name__wrapper {
    margin-top: 250px;
    position: relative;
}
.full_name {
    font-size: 16px;
    padding-left: 60px;
    width: 500px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
    margin-left: 60px;
}
.regis__full_name__p {
    color: #696969;
    font-size: 10px;
    font-weight: 700;
    position:absolute;
    margin-left: 120px;
    margin-bottom: 50px;
}
.regis__email__wrapper {
    margin-bottom: 20px;
    margin-top: 200px;
    position: relative;
}
.email {
    margin-top: 47px;
    font-size: 16px;
    padding-left: 60px;
    width: 500px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
    margin-left: 60px;
}
.regis__email__p {
    color: #696969;
    font-size: 10px;
    font-weight: 700;
    position:absolute;
    bottom: 40px;
    margin-left: 120px;
    padding-bottom: 10px;
}
.regis__phone_number__wrapper {
    position: relative;
}
.phone_number {
    margin-top: 47px;
    font-size: 16px;
    padding-left: 60px;
    width: 500px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
    margin-left: 60px;
}
.regis__phone_number__p {
    color: #696969;
    font-size: 10px;
    font-weight: 700;
    position:absolute;
    bottom: 40px;
    margin-left: 120px;
    padding-bottom: 10px;
}
.regis__cat_name__wrapper {
    position: relative;
}
.cat_name {
    margin-top: 47px;
    font-size: 16px;
    padding-left: 60px;
    width: 500px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
    margin-left: 60px;
}
.regis__cat_name__p {
    color: #696969;
    font-size: 10px;
    font-weight: 700;
    position:absolute;
    bottom: 40px;
    margin-left: 120px;
    padding-bottom: 10px;
}
.regis__data__wrapper {
    position: relative;
}
.data {
    margin-top: 47px;
    font-size: 16px;
    padding-left: 60px;
    width: 1125px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
    margin-left: 60px;
}
.regis__data__p {
    color: #696969;
    font-size: 10px;
    font-weight: 700;
    position:absolute;
    bottom: 40px;
    margin-left: 120px;
    padding-bottom: 10px;
}
.regis__cat__wrapper {
    position: relative;
}
.cat {
    margin-top: 47px;
    font-size: 16px;
    padding-left: 60px;
    width: 1125px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
    margin-left: 60px;
}
.regis__cat_many__p {
    color: #696969;
    font-size: 14px;
    font-weight: 700;
    position:absolute;
    bottom: 30px;
    margin-left: 120px;
    padding-bottom: 10px;
}
.regis__purr__wrapper {
    position: relative;
}
.purr {
    position: relative;
    margin-top: 47px;
    margin-left: 60px;
    font-size: 16px;
    padding-left: 60px;
    width: 1125px;
    height: 77px;
    border: 1px solid #FFFFFF;
    border-radius: 40px;
    background-color: $section-bc-color;
    color: white;
}
.shape__wrapper {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: $primary-pink;
    left: 1162px;
    top: 60px;
}
.shape {
    margin-left: 15px;
    margin-top: 10px;
}
.regis__full_name__p {
    color: #696969;
    font-size: 14px;
    font-weight: 700;
    position:absolute;
    bottom: 10px;
    margin-left: 120px;
    padding-bottom: 10px;
}

.regis__btn{
    width: 236px;
    height: 56px;
    background-color: $primary-pink;
    border-radius: 220px;
    margin-top: 57px;
    margin-left: 538px;
    color: white;
}